@import url(../footer/__author/footer__author.css);
@import url(../footer/__column-heading/footer__column-heading.css);
@import url(../footer/__column-link/footer__column-link.css);
@import url(../footer/__column-links/footer__column-links.css);
@import url(../footer/__column/footer__column.css);
@import url(../footer/__columns/footer__columns.css);
@import url(../footer/__social-icon/footer__social-icon.css);

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
}
