.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  opacity: 100%;
  transition: opacity 1s linear 0.1s;
}

.khan__buy-link:hover {
  opacity: 60%;
}
